<div class="container position-relative">
  <%= link_to "", link_through_path(notification), class: "stretched-link" %>
  <div class="activity-main">
    <ul class="activity-userIcon">
      <% if User.find_by(id: notification.notified_by_id).image? %>
        <li class="user-icon-small"><%= image_tag User.find_by(id: notification.notified_by_id).image, class: "user-icon user-icon-mini", style: "height: 50px; width: 50px;" %></li>
      <% else %>
        <li class="user-icon-small"><%= image_tag 'default_img.png', class: "user-icon user-icon-mini", style: "height: 50px; width: 50px;" %></li>
      <% end %>
<!--       <li class="user-icon-small"><%= image_tag User.find_by(id: notification.notified_by_id).image, class: "user-icon user-icon-mini", style: "height: 50px; width: 50px;" %></li> -->
    </ul>
    <div class="clear"></div>
    <p class="activity-displayText text-gray"><strong><%= User.find_by(id: notification.notified_by_id).name %></strong>さんがあなたをフォローしました
      <span class="activity-time"><%= nt_time(notification.created_at) %></span>
    </p>
  </div><!-- /activity-main -->
</div>
<hr class="mb-0 hr-gray">