<!-- PC版 nav -->
<div class="userpage-nav sp-hidden">
  <div class="userpage-nav-content flex justify-content-around">
    <% if user_signed_in? %>
      <% if user == current_user %>
        <p class="userpage-nav-button"><%= link_to "投稿", user_index_path %><span class="post-number"><%= @user.posts.count %></span></p>
      <% else %>
        <p class="userpage-nav-button"><%= link_to "投稿", user_path(user) %><span class="clip-number"><%= user.posts.count %></span></p>
      <% end %>
    <% else %>
      <p class="userpage-nav-button"><%= link_to "投稿", user_path(user) %><span class="clip-number"><%= user.posts.count %></span></p>
    <% end %>
    <p class="userpage-nav-button"><%= link_to "フォロー", user_following_path(user), remote: true %><span class="clip-number"><%= user.followings.count %></span></p>
    <p class="userpage-nav-button"><%= link_to "フォロワー", user_follower_path(user), remote: true %><span class="clip-number"><%= user.followers.count %></span></p>
    <p class="userpage-nav-button"><%= link_to "クリップ", user_clip_path(user), remote: true %><span class="clip-number"><%= user.clips.count %></span></p>
    <% if user_signed_in? %>
      <% if user == current_user %>
        <div class="others-button accbox">
          <input type="checkbox" id="label2" class="cssacc" />
          <label for="label2" onclick="showOthers()" class="label2">その他</label>
          <span class="others" id="makeoOthers">
            <%= link_to "いいね", user_like_path(@user), remote: true %><br>
            <a href="#">下書き</a>
          </span>
        </div>
      <% else %>
        <p class="userpage-nav-button"><%= link_to "いいね", user_like_path(user), remote: true %><span class="clip-number"><%= user.likes.count %></span></p>
      <% end %>
    <% else %>
      <p class="userpage-nav-button"><%= link_to "いいね", user_like_path(user), remote: true %><span class="clip-number"><%= user.likes.count %></span></p>
    <% end %>
  </div>
</div>
<!-- /PC版 nav -->

<!-- SP版 nav -->
<div class="userpage-sp-nav sp-show">
  <div class="userpage-nav-content flex justify-content-between text-light-gray">
    <% if user_signed_in? %>
      <% if user == current_user %>
        <p class="userpage-sp-nav-button"><%= link_to "投稿", user_index_path %></p>
      <% else %>
        <p class="userpage-sp-nav-button"><%= link_to "投稿", user_path(user) %></p>
      <% end %>
    <% else %>
      <p class="userpage-sp-nav-button"><%= link_to "投稿", user_path(user) %></p>
    <% end %>
    <p class="userpage-sp-nav-button"><%= link_to "クリップ", user_clip_path(user), remote: true %></p>
    <p class="userpage-sp-nav-button"><%= link_to "いいね", user_like_path(user), remote: true %></p>
    <% if user_signed_in? %>
      <% if user == current_user %>
        <p class="userpage-sp-nav-button"><a href="#">下書き</a></p>
      <% end %>
    <% end %>
  </div>
</div>
<!-- /SP版 nav -->