<div class="box-shadow userpage-content-list-col">
  <div class="song-info-position">
    <img src="<%= post.track_image%>" alt="" class="userpage-post-img">
    <div class="song-info text-white sp-hidden">
      <p class="song-title"><i class="far fa-user"></i><%=post.artist_name %></p>
      <p class="artist"><i class="far fa-dot-circle"></i><%=post.track_name%></p>
    </div>
  </div>
  <div class="post-user flex sp-hidden">
    <%= link_to image_tag(post.user.image, class: "user-icon user-icon-small"), user_path(post.user) %>
    <div class="post-info">
      <% if post.user == current_user %>
        <p class="user-name text-gray"><%= post.user.name %></p>
      <% else %>
        <p class="user-name text-gray"><%= link_to "#{post.user.name}", user_path(post.user) %></p>
      <% end %>
      <p><%= post.title %></p>
    </div>
  </div><!-- /post-user -->
  <hr class="m-0">
  <div class="action user-content-post-btn" id="post-content-action justify-content-around flex sp-hidden">
    <i class="far fa-comment"><p class="count-beside-btn">0</p></i>
    <%= render partial: 'likes/like', locals: { post: post } %>
    <%= render partial: 'clips/clip', locals: { post: post} %>
    <i class="fas fa-external-link-alt"></i>
 </div>
</div>
