<div class="all container userpage sp-container">
  <!-- user-panel -->
  <div class="user-panel">
    <div class="mb-2 flex justify-content-between">
      <%= image_tag @user.image, class: "user-icon user-icon-superbig" %>
      <div class="user-explanation">
        <p class="user-name mr-auto"><%= @user.name %></p>
        <p class=""><%= @user.self_comment %></p>
      </div>
      <!-------------------------------------------------->
      <div class="user-panel-button">
        <label for="label1" class="label1" onclick="showButtonContents()"><span class="sp-hidden"><i class="fas fa-ellipsis-v"></i></span></label>
        <span class="button-contents" id="makeButtonContents">
          <%= link_to "プロフィール編集", edit_user_path(@user) %><br>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<!--           <a href="#">キャンセル</a> -->
        </span>
      </div>
      <!-------------------------------------------------->
      <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "orange-button profile-edit-button sp-show" %></p>
    </div>
    <!-- フォロー数 -->
    <div class="follow_follower-number sp-show">
      <p><%= @user.followings.count %><span class="text-light-gray">フォロー中</span>&emsp;<%= @user.followers.count %><span class="text-light-gray">フォロワー</span></p>
    </div>
    <!-- /フォロー数 -->
  </div><!-- /user-panel -->

  <%= render partial: 'nav', locals: { user: @user } %>

  <div class="userpage-content-list row" id="userpage-content-render"><!-- justify-content-between -->
    <%= render partial: "post", collection: @posts, as: 'post' %>
  </div>
</div>