<div class="all container modal-blur">
      <div class="row">
          <div class="col-md-8 main">
              <div class="box bg-white">
<!--  main ここから繰り返し -->
                  <div class="post-content">
                      <div class="post-user">
                          <a href="#" class="user-icon"></a>
                          <p class="user-name"><a href="#">Name</a></p>
                          <p class="post-date text-gray">2018/9/17</p>
                      </div><!-- /post-user -->
                      <div class="clear"></div>
                      <div class="post-image">
                          <img src="..." alt="" class="">
                          <div class="song-info text-white">
                              <p class="song-title"><i class="far fa-user"></i>WAY OF GLORY</p>
                              <p class="artist"><i class="far fa-dot-circle"></i>AAA</p>
                          </div>
                      </div><!-- /post-image -->
                      <div class="post-text">
                          <h4>ここに見出しが入ります</h4>
                          <p class="text text-gray">テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章</p>
                      </div>
                      <div class="action" id="post-content-action">
                          <%= fa_icon("comment-dots")%><p>12</p></i>
                          <%= fa_icon("heart")%><p>212</p></i>
                          <%= fa_icon("link")%><p>106</p></i>
                          <%= fa_icon("external-link-alt")%></i>
                      </div>
                  </div><!-- /post-content -->
                  <hr>
<!--  /main ここまで繰り返し -->
<!--  main ここから繰り返し -->
                  <div class="post-content">
                      <div class="post-user">
                          <a href="#" class="user-icon"></a>
                          <p class="user-name"><a href="#">Name</a></p>
                          <p class="post-date text-gray">2018/9/17</p>
                      </div><!-- /post-user -->
                      <div class="clear"></div>
                      <div class="post-image">
                          <img src="..." alt="" class="">
                          <div class="song-info text-white">
                              <p class="song-title"><i class="far fa-user"></i>WAY OF GLORY</p>
                              <p class="artist"><i class="far fa-dot-circle"></i>AAA</p>
                          </div>
                      </div><!-- /post-image -->
                      <div class="post-text">
                          <h4>ここに見出しが入ります</h4>
                          <p class="text text-gray">テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章</p>
                      </div>
                      <div class="action" id="post-content-action">
                        <%= fa_icon("comment-dots")%><p>12</p></i>
                        <%= fa_icon("heart")%><p>212</p></i>
                        <%= fa_icon("link")%><p>106</p></i>
                        <%= fa_icon("external-link-alt")%></i>
                      </div>
                  </div><!-- /post-content -->
                  <hr>
<!--  /main ここまで繰り返し -->
<!--  main ここから繰り返し -->
                  <div class="post-content">
                      <div class="post-user">
                          <a href="#" class="user-icon"></a>
                          <p class="user-name"><a href="#">Name</a></p>
                          <p class="post-date text-gray">2018/9/17</p>
                      </div><!-- /post-user -->
                      <div class="clear"></div>
                      <div class="post-image">
                          <img src="..." alt="" class="">
                          <div class="song-info text-white">
                              <p class="song-title"><i class="far fa-user"></i>WAY OF GLORY</p>
                              <p class="artist"><i class="far fa-dot-circle"></i>AAA</p>
                          </div>
                      </div><!-- /post-image -->
                      <div class="post-text">
                          <h4>ここに見出しが入ります</h4>
                          <p class="text text-gray">テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章テキストtext文章</p>
                      </div>
                      <div class="action" id="post-content-action">
                        <%= fa_icon("comment-dots")%><p>12</p></i>
                        <%= fa_icon("heart")%><p>212</p></i>
                        <%= fa_icon("link")%><p>106</p></i>
                        <%= fa_icon("external-link-alt")%></i>
                      </div>
                  </div><!-- /post-content -->
<!--  /main ここまで繰り返し -->
              </div>
          </div><!-- /main -->

<!--  以下ランキングのサイドバー -->
          <div class="col-md-4 side-bar">
              <%= render 'sidebars/sidebar_user_ranking' %>
              <%= render 'sidebars/sidebar_post_ranking' %>
          </div><!-- /col-md-4 side-bar bg-white -->
      </div><!-- /row -->
  </div><!-- /container -->

 <%= render "devise/registrations/new" %>
 <%= render "devise/sessions/new" %>
 <%= render "devise/passwords/new" %>
 <%= render "devise/passwords/edit" %>
