  <hr class="sp-show mb-0 header-hr">
    <div class="all post-page bg-white container post-page-0">
      <div class="click-select bg-dark-gray flex sp-show" id="music-jacket-select" style="cursor:pointer;">
        <p class="text-white">クリックして曲を選んでください</p>
      </div>
      <div id="music-panel" class="sp-show music-panel text-gray box-shadow" style="cursor:pointer;">
          <img src="..." alt="" id="music-panel-image" class="music-panel-image">
          <div class="music-panel-info">
            <p class="song-title"><%=fa_icon('user')%></i><span id="track"></span></p>
            <p class="artist"><%=fa_icon('dot-circle')%></i><span id ="artist"></span></p>
          </div>
      </div><!-- /music-panel -->

    <hr class="sp-show mb-0">
    <div class="edit text-light-gray">
      <%= form_for(@post) do |f| %>
      <div class="write-title">
<!--
        <h4 class="mr-auto">タイトル<span class="sp-hidden"></span></h4>
-->
        <%= f.text_field :title,placeholder:"タイトルを入力してください",class:"post-title"%>
      </div>
      <div class="write-text">
        <%= f.text_area :text ,placeholder:"本文を1000字で入力してください",class:"post-text"%>
      </div>
      <%=f.hidden_field :artist_name,id:"artist_field",value:""%>
      <%=f.hidden_field :track_name,id:"track_field",value:""%>
      <%=f.hidden_field :track_image,id:"image_field",value:""%>
      <%=f.hidden_field :user_id,value:current_user.id %>
      <%= f.submit "送信",class:"orange-button",id:"submit_btn"%>
      <% end %>
    </div>

    <hr class="sp-show">
    </div>
    <div id="modal-back">
        <div id="modal">
          <div id="modal-0">
            <%= render 'posts/post-page-1' %>
          </div>
          <div id="modal-1">
            <%= render 'posts/post-page-2' %>
          </div>
        </div>
      </div>
