<!DOCTYPE html>
<html>
  <head>
    <title>Props</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="bg-white modal-blur">
          <div class="header">
              <div class="header-content">
                  <a href="#"><img class="props-logo" src="..." alt="props"></a>
                  <form><input type="text" placeholder="投稿・ユーザーを検索" class="bg-gray">
                     <label><%= fa_icon("search")%></label>
                  </form>
                  <a href="#" class="bell mr-auto">
                     <%= fa_icon("bell",class:"fa-bell bg-gray")%>
                  </a>
                  <!-- <p><a href="#">新規登録</a>｜<a href="#">ログイン</a></p> -->
                  <p class="header-left">
                      <button type="button" class="like-a-tag" id="register-btn">新規登録</button>
                      |
                      <button type="button" class="like-a-tag" id="login-btn">ログイン</button>
                  </p>
              </div>
          </div>
      </header>
    <% if notice %>
     <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
     <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
