<!DOCTYPE html>
  <html>
    <head>
     <title>Props</title>
     <%= csrf_meta_tags %>

     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

  <body>
    <%= render 'layouts/header'%>
    <% if flash[:notice].present? %>
     <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert].present? %>
     <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
-</html>
