<!DOCTYPE html>
  <html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130670261-1"></script>
      <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-130670261-1');
      </script>
      <title>PROPS （プロップス）| 音楽情報共有アプリ</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">

      <!-- fontawesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application'%>
      <%= javascript_include_tag 'application'%>
    </head>
  <body>
    <%= render 'layouts/header'%>
    <% if flash[:notice].present? %>
     <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert].present? %>
     <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
 </html>
